/* Добавь в конец существующего файла */

#main {
    margin-top: 3px;
}

#main .leftAside {
    float: left;
    position: relative;
    width: 650px;
    background: #ccccff;
    border-radius: 5px;
    height: 100%;
}

#main .leftAside p {
    width: 96%;
    margin-left: 2%;
    text-align: justify;
}

#main .leftAside h3 {
    margin: 0px;
    margin-left: 2%;
    margin-top: 2%;
    width: 96%;
    padding: 5px 0px 5px 0px;
    border-radius: 5px 5px 0px 0px;
    background: #76a5fc;
    text-align: center;
}

#main .leftAside table {
    margin: 5px;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 96%;
    padding: 5px 0px 5px 0px;
    border-radius: 0px 0px 5px 5px;
    background: #76a5fc;
    text-align: center;
    border: 1px solid #333;
}

#main article {
    margin-left: 660px;
    margin-bottom: 5px;
    background: #88aabb;
    border: 1px solid #40658d;
    border-radius: 5px;
}

#main article h3 {
    margin: 0px;
    margin-left: 2%;
    margin-top: 2%;
    width: 96%;
    padding: 5px 0px 5px 0px;
    border-radius: 5px 5px 0px 0px;
    background: #76a5fc;
    text-align: left;
}

#main article .text-article {
    padding: 5px;
    font-size: 15px;
    background: #cce6fc;
}

#main article .text-article label {
    margin-right: 10px;
    width: 150px;
    display: inline-block;
}

#main article .text-article input,
#main article .text-article select {
    width: 300px;
    padding: 3px;
}

#main .leftAside table tr td {
    text-align: center;
    padding: 5px;
}

thead {
    background-color: #3f87a6;
    color: #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
}

tbody tr:nth-child(even) {
    background-color: #e6f2ff;
}